.col-md-6.col-md-offset-3
    .row
        .panel.panel-default
            .panel-heading
                %h1 Edit Person's Details
            .panel-body
                %strong.center Current Image
                %br/
                = image_tag @person.image.url(:medium)
                = render 'form'

.col-md-6.col-md-offset-3
    %h1 Edit Person's Details
    = render 'form'
    = link_to "Cancel", person_path