<h1>Social Media Updates</h1>
<div class="col-md-5 col-md-offset-1 col-sm-10 col-sm-offest-1 col-xs-10 col-xs-offest-1">
    <span>Instrgram Feed</span>
    <section class="insta--feed">                
        <!-- SnapWidget -->
        <script src="http://snapwidget.com/js/snapwidget.js"></script>
        <iframe src="http://snapwidget.com/bd/?h=YWNjcmFmbG9vZHN8aW58NDIwfDF8NjB8fHllc3wyMHxub25lfG9uU3RhcnR8bm98eWVz&ve=040615" title="Instagram Feed" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"></iframe>
    </section>
</div>
<div class="col-md-5 col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1">
    <span>Twitter Feed</span>
    <section class="twitter--feed">
    <a class="twitter-timeline" href="https://twitter.com/hashtag/accrafloods" data-widget-id="606512770234884097">#accrafloods Tweets</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </section>
</div>